#progress bar 
tqdm 
#audio analysis 
librosa 
#movie editor 
moviepy
#pytorch 
torch 
#scipy 1.1.0 
scipy==1.1.0 
#biggan 
pytorch_pretrained_biggan 
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
