#progress bar 
tqdm 
#audio analysis 
librosa 
#movie editor 
moviepy
#pytorch 
torch 
#scipy 1.1.0 
scipy==1.1.0 
#biggan 
pytorch_pretrained_biggan 
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
imageio>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
joblib>=1.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
numba>=0.49.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
